doctype html
head
  meta(charset='utf-8')
  title Clubs
  // css style sheet
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')
  link(rel='stylesheet' href='css/clubs.css')
  // font awesome link
  script(src='https://kit.fontawesome.com/e58d4fb0ce.js' crossorigin='anonymous')
  // various links for bootstrap
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI' crossorigin='anonymous')
  // google fonts link
  link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Ubuntu&display=swap' rel='stylesheet')
  // UIkit CSS
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css')
  // UIkit JS
  script(src='https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js')
  script(src='https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js')


section#title-section.title-section
  
  nav#nav.navbar.navbar-expand-lg.navbar-dark
    a.navbar-brand
      img.navbar-logo(src='/images/muj10.png' alt='')
    if user  
      li.nav-item.dropdown
            a#navbarDropdown.navbar-brand.name-btn.nav-link.dropdown-toggle.btn-account(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
              | Hello, #{user.name}!
            .dropdown-menu(aria-labelledby="navbarDropdown")
              a.dropdown-item(href="/myClubs") My Clubs 
    #navbarNavDropdown.collapse.navbar-collapse
      ul.navbar-nav
        // light/dark mode container
        label.switch
          input#m-color(type='checkbox')
          span.slider.round
        li.nav-item
          a.nav-link.nav-txt
            | Dark Mode 
            span.sr-only (current)
        // // light/dark mode container
        li.nav-item
          a.nav-link(href='/')
            | Home 
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='/clubs') MUJ Clubs
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle.btn-account.btn.btn-outline-secondary(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            | Accounts
          .dropdown-menu(aria-labelledby='navbarDropdown')
            if(user)
              a.dropdown-item#logout-btn Logout
              a.dropdown-item(href='#footer') Contacts
            else
              a.dropdown-item(href='/login') Login
              a.dropdown-item(href='signin.html') Sign up
              .dropdown-divider
              a.dropdown-item(href='#footer') Contacts
        
        li.nav-item
          a.nav-link.btn-account.btn.btn-info(type='button' href='/register') Register
  header.top

  .container-fluid
    .top
      h1.big-heading Check out the clubs here at MUJ.
      a.btn.btn-dark.btn-lg.club-button(href='#technical-section')  Technical Clubs 
      a.btn.btn-dark.btn-lg.club-button(href='#cultural-section')  Cultural Clubs 


// Cards
section.clubs-basic
  .container-fluid.dark-bg
    h1 Our Clubs
    // technical
    #technical-section.card.card-outer.wrapper
      h3 Technical
        .row.clubs-basic-info
          each club in clubs
            -if(club.technical === true)
              .cols.col-lg-3(ontouchstart="this.classList.toggle('hover');")
                .container
                  .front(style='background-image: url(https://unsplash.it/500/500/)')
                    .inner
                      p= club.name
                      span something
                  .back
                    .inner
                      p
                        | #{club.summary}
                      a.btn.btn-dark.btn-lg.club-button(href=href=`club/${club.name}`) Go to club page
    // cultural
    #cultural-section.card.card-outer.wrapper
       h3 Cultural
        .row.clubs-basic-info
          each club in clubs
           -if(club.technical === false)
                .cols.col-lg-3(ontouchstart="this.classList.toggle('hover');")
          
                  .container
                    .front(style='background-image: url(https://unsplash.it/500/500/)')
                      .inner
                        p= club.name
                        span something
                    .back
                      .inner
                        p
                          | #{club.summary}
                        a.btn.btn-dark.btn-lg.club-button(href=`club/${club.name}`) Go to club page
      
// Footer
footer#footer.colored-section
  // copyright and contact info
  .container-fluid
    // up button
    .arrow-up
      a.arrow-btn-item.arrow(href='#title-section')
        | up
        i.arrow-btn-item.fas.fa-chevron-up
    a.footer-link(href='https://twitter.com/Jaipur_Manipal')
      i.icon-footer.fab.fa-twitter
    a.footer-link(href='https://www.facebook.com/manipal.university')
      i.icon-footer.fab.fa-facebook-f
    a.footer-link(href='https://www.instagram.com/jaipurmanipal/?hl=en')
      i.icon-footer.fab.fa-instagram
    // <a href=""><i class="icon-footer fas fa-envelope"></i></a>
    p.copyright-msg &copy;Copyright 2020 MUJ Clubs
// up button
script.
      const colorSwitch = document.getElementById('m-color');
      colorSwitch.addEventListener('click',checkMode);
      function checkMode(){
      if(colorSwitch.checked){
      darkModeOn();
      }
      else{
      darkModeOff();
      }
      }
      function darkModeOn(){
      document.body.classList.add("dark-mode");
      }
      function darkModeOff() {
      document.body.classList.remove("dark-mode");
      }
script(src='/js/bundle.js')